/*****
/* tablet
/*****/
.breakpoint {
  background-color: rgba(0, 255, 0, 0.5); }

.hidden-desktop {
  display: inherit !important; }

.visible-desktop {
  display: none !important; }

.visible-phone {
  display: inherit !important; }

.hidden-phone {
  display: none !important; }
